<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.planetic.android.memo"
    android:versionCode="2"
    android:versionName="2.0-Beta" >

    <uses-sdk android:minSdkVersion="8" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MemoSingleton"
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <uses-library android:name="com.google.android.maps" />

        <service android:name=".PunkteHinzufuegen_Service" />

        <activity android:name="de.planetic.android.memo.MemoStart" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PunkteZeigen_neu" >
        </activity>
        <activity
            android:name=".PunkteZeigen_Tab"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity android:name=".PunkteZeigen_Tab_Liste" >
        </activity>
        <activity android:name=".PunkteZeigen_Tab_Karte" >
        </activity>
        <activity android:name=".Memo_Einstellungen" >
        </activity>

        <application>
        </application>
    </application>

</manifest>